body{
    background-color: #232526;  
}
.divmain{
    background-color: rgb(22, 22, 22);
    border: 5px #a41219 solid;
    width: 1890px;
    height: 300px;
    border-radius: 0 50px 0 50px;
}
.logo{
    width: 300px;
    height: 100%;
    margin-left: 800px;
    margin-top: -250px;
    }   
h1{
    color: #a41219;
    margin-top: 100px;
    margin-left: 10px;
}
h2{
    margin-top: 50px;
    margin-left: 10px;
    color: #c0c0c0;
}
#img01{
    margin-top: -500px;
    margin-left: 900px;
}
.divsocial1{
    margin-top: -280px;
    padding-left: 1800px;
}
.divsocial2{
    margin-top: 10px;
    padding-left: 1800px;
}
.divsocial3{
    margin-top: 10px;
    padding-left: 1800px;
}
.divalbum{
    background-color: rgb(22, 22, 22);
    border: 5px #a41219 solid;
    width: 1890px;
    height: 480px;
    border-radius: 50px 0 50px 0;
    margin-top: 10px;
}
#albumimg1{
    margin-left: 0;
    margin-top: 0;
    border-top-left-radius: 45px;
}
#albumimg2{
   margin-left: 41px;
}
#albumimg3{
    margin-left: 41px;
    border-bottom-right-radius: 45px;
}
.divfooter{
    background-color: rgb(22, 22, 22);
    border: 5px #b0141b solid;
    width: 1890px;
    height: 100px;
    margin-top: 10px;
    border-radius: 20px;
}
.leftfooter{
    margin-top: 5px;
    margin-left: 40px;
    padding: 0;
    font-size: 20px;
    color: #c0c0c0;
    width: 480px;
    height: auto;
}
.midfooter{
    margin-left: 680px;
    margin-top: -114px;
    font-size: 20px;
    color: #c0c0c0;
    width: 480px;
    height: auto;
}
.rightfooter{
    margin-left: 1350px;
    margin-top: -114px;
    font-size: 20px;
    color: #c0c0c0;
    width: 480px;
    height: auto;
}